* {
    font-family: 'Raleway', sans-serif;
}

body {
     margin-top: 0px;
     max-width: 1400px;
}

main {
    display: flex;
    justify-content: center;
}

main a {
    color: black;
    text-decoration:none;
}

p {
    font-size: 14px;
}

h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    padding: 30px 50px;
    font-size: 16px;
}
nav a {
      color: black;
      margin-left: 35px ;
      margin-right: 20px;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration:none;
}

nav a:hover  {
           color: #0065fc ;
           border-top: 3px #0065fc solid;
           padding-top: 44px;
}


nav img {
width: 61.09px;
height: 19px;

}

nav {
    display: flex;
    
    justify-content : space-between ;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type : none;
}

/****** Formulaire ***********/

.formulaire-forme {
    display: flex;
    width: 300px;
  }
  
  .formulaire label {
    border: 0;
    background: #F2F2F2;
    line-height: 50px;
    border-radius: 20px 0 0 20px;
    outline: 0;
    padding-left: 17px;
    padding-right: 15px;
    
  }

  .formulaire i {
      color: black;
   
  }

  .formulaire h2 {
    margin-bottom: 0;
}

.formulaire p {
    margin-top: 5px;
}
  .formulaire-forme input[type="search"] {
    
    border: 3px solid #F2F2F2;
    padding-left: 10px;
    border-right: 0px;
    color: black;
}

  .formulaire-forme input[type="submit"] {
    background:  #0065fc;
    border: 1px solid #0065fc;
    color: white;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

    .formulaire-forme > * {
     font-size: 18px;
     color: black;
     font-weight: bold;
     outline: 0;

 }


 /****** Filtres ***********/

.Filtres {
    margin-top: 30px;
    margin-bottom: 25px;
}

 .Filtres-flex1 {
    display : flex ;
 }

 .Filtres-flex2 {
    display : flex ;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-width: 3px;
    border-left-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-right-width: 3px;
    border-right-style: solid;
    margin-right: 50px;
    border-radius: 40px 40px 40px 40px;
    border-color: #F2F2F2;
 }

 .Filtres-flex2:hover  {
    background-color: #DEEBFF;
}

 .Filtres h3 {
    padding-right: 20px;
    margin-top: 13px;
    margin-bottom: 13px;
 }

  .Filtre-Filtre {
    margin-right: 10px;
  
}

 .Filtres i {
    display: flex;
    align-items: center;
    padding-left: 20px;

 }

 .Filtres .Filtres-flex2 i {
    padding-right: 15px;
    font-size: 22px;

}

  .Filtres-flex3 {
        display : flex ;
        margin-top: 20px;
    }

    .Filtres-flex3 p {
        margin-top: 18px;
    }
    

    .Filtres-flex3 i {
        margin-right: 15px;
        font-size: 13px;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        padding: 10px;
        border: 2px solid  #F2F2F2;
        margin-top: 10px;
    }

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.hebergements-cards {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    margin-bottom: 15px;
    
  }


.hebergements-cards .card {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hebergements-cards .card-content {
    
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 15px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 5px;
}

.hebergements-cards .card-title {
    margin-top: 11px;
    margin-bottom: 2px;
}

.affi {
    margin-top: 40px;
    margin-bottom: 0px;
}


/****** Populaires ***********/
.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 37%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 63%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 7px;
}

/****** activites ***********/

.activites .section-title {
    margin-top: 60px;
    margin-bottom: 20px;
    
}

.activites-cards img {
    width: 100%;
    height: 88%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.activites-cards {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    height: 450px;
    
} 

.activites .card {
    padding: 0px;
    width: 23%;
    
}

.activites .card-txt {
margin-left: 15px
}

/****** footer ***********/

footer {
    background-color: var(--main-bg-color);
    padding-bottom: 30px;
    padding-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
  }


footer a {
    color: black;
    margin-right: 20px;
    padding-right: 20px;
    text-decoration:none;
}

.footer-direct {
    display: flex;
    flex-direction: row;
    padding-left: 35px;
    
}

footer ul {
    display: flex;
    flex-direction: column;

}

footer h3 {
    margin-left: 40px;
}

footer li {
    margin-bottom: 10px;

}

footer article {
    margin-right: 50px;
}


